<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<h3 class="text-center">Policy Management System</h3>
	</div>
	<hr>
	<div class="container">
		<div id="navbar">
			<ul class="nav navbar-nav nav-pills pull-right">
				<li><a routerLink="/login" routerLinkActive="active">Home</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="loginContainer" class="container">
	<form class="form-signin form-horizontal" role="form">
		<h3>About Us</h3><br><br><br>
		<p><strong>Our&nbsp;Vision</strong></p>
		<div class="hr-thin style-line" style="width: 16%;border-color: #f68428;"></div>
		<p style="float: left;">We ensure the health and happiness of the people that we touch through our thoughtful, world-class solutions.</p>
	</form>
</div>
